@import "../../variables.scss";
@import "../../mixins.scss";

.header {
  background-image: url("/img/pexels-photo-3218467.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 829px;
  height: 100%;
  position: relative;
  @include flex-col-start;
  @include full-width;
  &:before {
    content: "";
    background: black;
    width: 100%;
    height: inherit;
    position: absolute;
    opacity: 0.3;
    z-index: 0;
  }
}

.header__container {
  max-width: $max-content-width;
  @include flex-col-start;
  z-index: 1;
}

.header__logo {
  margin-top: 33px;
  width: 359px;
  height: 229px;
}

.header__title {
  margin-top: 120px;
  text-align: center;
  color: white;
  font-family: $playfair;
  font-size: 60px;
}

.header__description {
  margin: 20px;
  max-width: 699px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: $open-sans;
  font-size: 16px;
}

.header__container_arrow-down {
  width: 48px;
  height: 48px;
  margin-top: 96px;
  color: white;
  background-position: center;
  background: url(/img/icon/header-triangle.svg) no-repeat;
}

@media (max-width: $large-screen) {
  .header {
    min-height: 895px;
  }
  .header__container {
    margin: 0 30px;
  }
  .header__title {
    max-width: 697px;
    width: 100%;
  }
}

@media (max-width: $medium-screen) {
  .header__container {
    margin: 0 26px;
  }
}

@media (max-width: $small-screen) {
  .header {
    min-height: 986px;
  }
  .header__container {
    margin: 0 24px;
  }
  .header__title {
    max-width: 540px;
  }
  .header__description {
    max-width: 540px;
  }
}

@media (max-width: $tablet-screen) {
  .header__container {
    margin: 0 18px;
  }
  .header__title {
    max-width: 340px;
    font-size: 36px;
  }

  .header__description {
    max-width: 340px;
  }
}

@media (max-width: $phone-screen) {
  .header {
    min-height: 906px;
  }
  .header__logo {
    width: 340px;
    height: 217px;
  }
}
